.product .img-container{
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}
.cmp-btn{
    position: absolute;
    top: 40%;
    right: 32%;
    display: none;
}
.product .img-container .layer {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.product .img-container:hover .cmp-btn{
    display: none;
    display: block;
}
.product .img-container:hover .layer{
    cursor: pointer;
    visibility: visible;
    pointer-events: auto;
    background-color: rgba(46, 205, 151, 0.4);
    background: rgba(46, 205, 151, 0.4);
    color: rgba(46, 205, 151, 0.4);
}
